body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  font-weight: 400;
  color: inherit;
}
.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
button {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.MuiSwitch-root {
  margin-right: 15px;
}
.language_selector {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
}
.spanish {
  left: 0;
}
.english {
  right: 0;
}
.language_selector span {
  padding: 10px 0;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.language_selector button {
  top: 0;
  background-color: rgba(241, 130, 25);
  z-index: -1;
  border: none;
  position: absolute;

  width: 50%;
  padding: 30px 0;
}
.section_holder {
  width: 60%;
  max-width: 1137px;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}
.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.section_title {
  font-family: "Sansita Swashed", cursive;
  text-decoration: underline;
  font-size: 40px;
}
.presentation_title {
  font-size: 60px;
  font-family: "Sansita Swashed", cursive;
  margin: 0;
}

.mobile_presentation_image {
  display: none;
  width: 370px;
  border-radius: 50%;
  margin: 0 auto;
}
.presentation_rol {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 0px;
}
.person_description {
  margin-top: 0;
}
.presentation_holder {
  width: 60%;
}
.presentation_image {
  width: 370px;
  border-radius: 50%;
}
.tecnologies_section {
  color: white;
}
.tecnology_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tecnology_item {
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tecnology_item img {
  width: 60px;
}
.tecnology_item h4 {
  padding-left: 10px;
  font-size: 30px;
}
.job_icon_holder {
  width: 40%;
}
.job_icon_holder h5 {
  margin: 0;
}
.job_icon_holder h3 {
  margin-top: 15px;
  margin-bottom: 0;
  text-transform: uppercase;
}
.job_information h4 {
  margin-top: 0;
  font-size: 25px;
}
.job_tasks {
  font-size: 17px;
}
.job_tasks p {
  width: 95%;
}
.company_logo {
  width: 200px;
}
.company_logo_small {
  width: 150px;
  margin: 0 auto;
}
.job_item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  margin-bottom: 50px;
}
.job_information {
  max-width: 500px;
  padding: 10px;
  width: 50%;
}

.project_holder {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  padding-bottom: 30px;
  width: 100%;
}
.project_holder_brain {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.project_info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_details_brain {
  text-align: end;
  max-width: 500px;
}
.project_details {
  max-width: 500px;
  padding: 0 20px;
}
.brain_icon {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.profesor_oak_icon {
  width: 200px;
  border-radius: 50%;
}
.professor_oak_container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.brain_project_container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 90%;
  max-width: 1137px;
}
.oak_presentation {
  width: 90%;
  max-width: 1137px;
  padding-bottom: 100px;
}
p {
  font-size: 20px;
}

.oak_presentation h2 {
  text-align: start;
}

.oak_presentation li {
  list-style-type: none;
  text-align: start;
  padding-left: 20px;
  padding-bottom: 20px;
}
.oak_presentation strong {
  font-size: 20px;
}

.home_button {
  padding: 20px 30px;
  margin: 20px;
}
.discord_chat {
  width: 100%;
  height: 600px;
}
.controlls_holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.color_display_holder {
  background-color: white;
  border: 1px solid black;
  width: 100%;
  height: 200px;
  max-width: 500px;
  margin: 0 auto;
}
.color_display {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.train_button {
  margin-top: 20px;
}
.text_color_holder {
  width: 100%;
  text-align: center;
}
.text_color_holder h2 {
  text-align: center;
}
.spell_holder {
  text-align: center;
}
.spell_input {
  padding: 10px 10px;
  width: 90%;
  max-width: 400px;
}
.suggested_words {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;
  background-color: white;
  list-style: none;
  padding: 0 10px;
  text-align: start;
}
.distance_calculator {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.distance_calculator div {
  width: 45%;
}
.distance_calculator div input {
  margin: 10px 0;
  padding: 10px 5px;
}
.distance_calculator h4 {
  margin: 10px 5px;
  line-height: 20px;
}
.color_block {
  width: 100%;
  height: 70px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: red;
  margin-bottom: 10px;
}
.braindw_clients {
  text-align: start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
}
.braindw_clients img {
  margin: 5px 10px 0 0;
  height: 40px;
}
.courses_holder {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.course_item {
  list-style: none;
  margin-top: 10px;
}
.course_item h4,
.course_item h5 {
  margin: 5px 0;
}
.course_item h4 {
  font-size: 20px;
}
.course_item h5 {
  display: inline-block;
  font-weight: normal;
  margin-right: 5px;
  font-size: 16px;
}
.course_image_holder {
  width: 100%;
  text-align: start;
  height: 40px;
}
.course_image {
  height: 60px;
  margin: 0 auto;
}

.course_item:not(:first-of-type) {
  margin: 40px 0;
}
.overflow_hidden {
  overflow: hidden;
}
.grey_background {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 3000px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.certificate_container {
  z-index: 2;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background-color: white;
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
  opacity: 0;
}
.certificate_container img {
  width: 90%;
  margin: 0 auto;
  max-height: 400px;
}
.certificate_container img:not(:first-child) {
  background: transparent
    url("https://i.pinimg.com/originals/a2/dc/96/a2dc9668f2cf170fe3efeb263128b0e7.gif")
    center no-repeat;
}
.certificate_container .close_button {
  width: 90%;
  color: black;
  text-align: right;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 30px;
  font-weight: bolder;
  padding: 15px 0;
}
.certificate_container .close_button img {
  width: 27px;
  height: 27px;
  cursor: pointer;
}
.comman_name {
  padding: 5px 10px;
  background-color: #36393f;
  text-transform: capitalize;
  color: white;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, "Lucida Grande",
    sans-serif;
}
.command_description {
  color: rgba(255, 255, 255, 0.7);
}

.animate_component {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.darkmode_switch {
  width: 100%;
  font-size: 20px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-right: 150px;
}

.oak_presentation ul p {
  padding-left: 15px;
}

.back_icon {
  filter: brightness(0) invert(1);
  width: 40px;
}
/* Text Align*/
.align_center {
  text-align: center;
}
.align_start {
  text-align: start;
}
/* Text Decorations */
.underline {
  text-decoration: underline;
}
/* Colors */
.orange {
  color: #47ba67;
}

.white {
  color: white;
}

.grey {
  color: rgb(94, 94, 94);
}
.black {
  color: black;
}
/*distance*/

.align-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*background*/

.background_cream {
  background-color: rgb(235, 228, 212);
}
.background_white {
  background-color: rgb(235, 228, 212);
  transition: all 0.5s;
}
.background_orange {
  background-color: #47ba67;
  transition: all 0.5s;
}
.language_background_white {
  background-color: rgb(235, 228, 212);
  transition: all 0.5s;
}
.language_background_orange {
  background-color: #47ba67;
  transition: all 0.5s;
}

/* Buttons */
.button_white {
  background-color: white;
  border: 4px solid white;
  color: #47ba67;
  padding: 15px 30px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
.button_orange {
  margin-top: 10px;
  background-color: white;
  border: 4px solid #47ba67;
  color: #47ba67;
  padding: 10px 20px;
  border-radius: 15px;
  font-size: 20px;
  font-weight: bolder;
  transition: all 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.2);
  outline: none;
}
.button_orange:hover {
  background-color: #47ba67;
  color: white;
}
.button_small {
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 12px;
  font-weight: bolder;
}
.button_white:hover {
  background-color: #47ba67;
  color: white;
}
.github-button {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15px;
}
.github-button img {
  width: 50px;
  padding-left: 10px;
}
@media (min-width: 900px) {
  .animate_component:nth-of-type(even) .project_holder {
    flex-direction: row-reverse;
  }
  .animate_component:nth-of-type(even) .project_details {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .animate_component:nth-of-type(even) .project_details p {
    text-align: end;
  }
}
@media (max-width: 900px) {
  .section_holder {
    width: 80%;
    text-align: center;
  }
  .section_title {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }
  .mobile_presentation_image {
    display: block;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 400px;
    min-width: 200px;
  }
  .presentation_holder {
    width: 100%;
  }
  .presentation_title {
    width: 100%;
    text-align: center;
  }
  .presentation_image {
    display: none;
  }
  .tecnology_holder {
    justify-content: space-around;
  }
  .tecnology_item {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .tecnology_item img {
    width: 50px;
  }
  .tecnology_item h4 {
    margin: 10px;
    font-size: 25px;
  }

  .job_information {
    padding-top: 15px;
    width: 100%;
    margin-top: 15px;
  }
  .job_item .job_information:first-child {
    border-bottom: 1px solid black;
  }
  .job_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job_item:not(:last-child) {
    margin-bottom: 25px;
  }

  .job_icon_holder {
    width: 100%;
  }

  .job_item h3 {
    margin: 5px;
    text-transform: uppercase;
  }

  .job_tasks {
    padding: 0;
    text-align: start;
    font-size: 15px;
  }
  .job_task {
    border-radius: 20px;
    margin-bottom: 30px;
    padding-left: 20px;
  }
  .project_holder {
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-bottom: 60px;
  }
  .oak_presentation {
    width: 90%;
    max-width: 1137px;
    font-size: 16px;
  }

  p {
    font-size: 16px;
  }
  .discord_chat {
    width: 100%;
    height: 400px;
  }
  .project_holder_brain {
    flex-direction: column;
  }
  .project_details_brain {
    text-align: center;
  }
  .controlls_holder {
    flex-direction: column;
    align-items: center;
  }
  .courses_list {
    padding-left: 0;
    width: 45%;
  }
  .course_item {
    padding: 0;
    text-align: left;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .courses_list h2 {
    height: 60px;
  }
  .course_item h4 {
    font-size: 18px;
  }
  .course_item h5 {
    margin: 0;
    font-size: 13px;
  }
  .button_small {
    font-size: 10px;
  }
  .course_image {
    height: 30px;
  }

  .home_button {
    padding: 10px 20px;
    font-size: 15px;
    margin: 20px 0 0 10px;
  }
  .oak_presentation ul {
    padding: 0;
  }
  .github-button img {
    width: 30px;
  }
  .github-button {
    padding: 15px 15px;
    margin: 0 auto;
  }
}
