.unselectable {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.language_selector {
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  padding-bottom: 15px;
}
.spanish {
  left: 0;
}
.english {
  right: 0;
}
.language_selector span {
  padding: 10px 0;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.language_selector button {
  top: 0;
  background-color: rgba(241, 130, 25);
  z-index: -1;
  border: none;
  position: absolute;

  width: 50%;
  padding: 30px 0;
}
.section_holder {
  width: 60%;
  padding: 10px 0;
  font-family: "Open Sans", sans-serif;
}
.flex-row {
  align-items: center;
  display: flex;
  flex-direction: row;
}
.section_title {
  font-size: 40px;
  text-transform: uppercase;
}
.presentation_title {
  font-size: 60px;
  font-family: "Sansita Swashed", cursive;
  margin: 0;
}

.mobile_presentation_image {
  display: none;
  width: 370px;
  border-radius: 50%;
  margin: 0 auto;
}
.presentation_rol {
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 10px;
}
.presentation_holder {
  width: 60%;
}
.presentation_image {
  width: 370px;
  border-radius: 50%;
}
.tecnologies_section {
  color: white;
}
.tecnology_holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tecnology_item {
  width: 230px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.tecnology_item img {
  width: 60px;
}
.tecnology_item h4 {
  padding-left: 10px;
  font-size: 30px;
}
.job_icon_holder h5 {
  margin: 0;
}
.job_icon_holder h3 {
  margin-top: 15px;
  margin-bottom: 0;
}
.company_logo {
  width: 200px;
}
.job_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.job_information {
  max-width: 500px;
}

.project_holder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.project_info {
  text-align: center;
}
.project_details {
  max-width: 500px;
}
.profesor_oak_icon {
  width: 200px;
  border-radius: 50%;
}
/* Text Decorations */
.underline {
  text-decoration: underline;
}
/* Colors */
.orange {
  color: rgb(241, 130, 25);
}

.white {
  color: white;
}

.grey {
  color: rgb(94, 94, 94);
}

/*distance*/

.align-center {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/*background*/

.background_cream {
  background-color: rgb(255, 244, 220);
}

.background_orange {
  background-color: rgb(241, 130, 25);
}

@media (max-width: 900px) {
  .section_holder {
    width: 80%;
    text-align: center;
  }
  .section_title {
    width: 100%;
    text-align: center;
    font-size: 35px;
  }
  .mobile_presentation_image {
    display: block;
    width: 80%;
    max-width: 400px;
    min-width: 200px;
  }
  .presentation_holder {
    width: 100%;
  }
  .presentation_title {
    width: 100%;
    text-align: center;
  }
  .presentation_image {
    display: none;
  }
  .tecnology_holder {
    justify-content: space-around;
  }
  .tecnology_item {
    margin-right: 0;
    margin-bottom: 17px;
  }
  .tecnology_item img {
    width: 50px;
  }
  .tecnology_item h4 {
    margin: 10px;
    font-size: 25px;
  }

  .job_information {
    padding-top: 15px;
  }
  .job_item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .job_item h3 {
    margin: 5px;
    text-transform: uppercase;
  }

  .job_tasks {
    padding: 0;
    list-style-type: none;
    list-style: none;
  }
  .job_task {
    border-bottom: 1px solid black;
    border-radius: 20px;
    margin-bottom: 30px;
  }
  .project_holder {
    flex-direction: column;
  }
}
